{% extends "base.html" %} {% block main %}
<h1>Secure Page</h1>

<div id="paragraph">
  <p>
    "Genius people around us, makes us feel pretty intimidated and sometimes it lowers our self-esteem. 
    But as a person born with average wit and no talent, it gets quite hard for them to achieve any success in life. 
    That’s when the level of your desire and will power is tested. 
    So it doesn’t matter how much a person might be naturally genius but a hard working person can easily outrun them. 
    Hard work beats talent when talent doesnt work hard."
  </p>
 
</div>
<div> 
  {% endblock %}
</div>